*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #dadada;
  font-size: 10px;
}


.container {
  width: 90%;
  margin: 20px auto;
}

.emphasis {
  font-size: 1.5em;
  font-family: sans-serif;
  font-weight: 550;
  text-align: center;
  margin-bottom: 5%;
  margin-top: 5%;
}

.image {
  width: 100%;
  height: auto;
}

div {
  display: inline-block;
  width: 100%;
  margin: 1% 0;
}



@media screen and (min-width: 575px){
   div {
    margin: 1%;
    width: 48%;
  }


}

@media screen and (min-width: 991px){
   div {
    margin: 1%;
    width: 24%;
  }

}
