*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #dadada;
  font-size: 10px;
}



#baku, #london, #madrid, #rome {
  display: inline-block;
}



#baku {
  background: url('/images/baku.jpg') no-repeat;
  background-size: cover;
}

#london {
  background: url('/images/london.png') no-repeat;
  background-size: cover;
}

#madrid {
  background: url('/images/madrid.jpg') no-repeat;
  background-size: cover;
}

#rome {
  background: url('/images/rome.jpg') no-repeat;
  background-size: cover;
}


.container {
  width: 90%;
  margin: 0px auto;
}

.emphasis {
  font-size: 1.5em;
  font-family: sans-serif;
  font-weight: 550;
  text-align: center;
  margin-bottom: 5%;
  margin-top: 5%;
}

.text {
  padding: 20px 20px;
  font-size: 2em;

}

.image {
  width: 200px;
  height: 200px;
}

div {
  display: inline-block;
  width: 100%;
  margin: 1% 0;
}



@media screen and (min-width: 575px){
   div {
    margin: 1%;
    width: 48%;
  }


}

@media screen and (min-width: 991px){
   div {
    margin: 1%;
    width: 24%;
  }

}
